[tron]
# What host does the tron hub run on?
tronHost = mhs.pfs
# What tron port do we connect to. This is defined by tron.
tronCmdrPort = 6093

[spsclient]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/spsclient

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = localhost
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py 
port = 9105

controllers = 
startingControllers = 


[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/spsclient
baseLevel = 20
cmdLevel = 20
dispatchLevel = 30
consoleLevel = 20
ioLevel = 20
